# Ignore virtual environment
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore database file
db.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env
